@font-face {
  font-family: "Sora";
  src: url("../../assets/fonts/Sora-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Sora";
  src: url("../../assets/fonts/Sora-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Sora";
  src: url("../../assets/fonts/Sora-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Sora";
  src: url("../../assets/fonts/Sora-Bold.ttf");
  font-weight: 700;
}
