@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.welcome {
  background-color: $color-porsche;
  &__hero-overlay {
    height: 100%;
    background-color: rgba($color: #07305d, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__hero-container {
    height: 45vh;
    width: 100%;
    background-image: url("../../assets/images/pexels-allan-mas-5383531.jpg");
    background-size: cover;
    background-position: center center;
  }

  &__hero-text {
    margin: 0 1.6rem;
    padding-bottom: 2.4rem;
    color: $color-white;
    width: 50%;
  }

  &__signup-link {
    align-self: center;

    &--bottom {
      display: flex;
      justify-content: center;
    }
  }

  &__signup-button {
    cursor: pointer;
    color: $color-white;
    // margin: 0 auto;
    height: 4rem;
    border-radius: 4px;
    padding: 0 3.2rem;
    border: none;
    background-color: $color-venice-blue;

    &:hover {
      background-color: $color-madison;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__step {
    margin: 2.4rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__step-divider {
    display: flex;
    justify-content: center;
    padding-bottom: 1.6rem;
    width: 50vw;
  }

  &__step-divider-image {
    width: 50%;
  }

  &__step-title {
    color: $color-venice-blue;
    margin-bottom: 0.8rem;
  }

  &__step-text {
    color: $color-white;
  }

  &__button-container {
    padding: 2.4rem 0;
  }
}
